.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    background-color: #f8fcfe;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    float: left;
}
.toolbar{
    display: flex;
    max-width: 609px;
    width: 100%;
    justify-content: center;
    margin-bottom: 70px;
    background-color: #ffffff;
    color: #717171;

}
.toolbar:first-child{
    max-width: 75px;
    width: 100%;
}
.portfolio-btn{
    height: 58px;
    line-height: 58px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 0.2px solid rgba(71,71,71,0.1);
    cursor: pointer;
}

.active-filter{
    border-top: 1px solid #18cfab;
    color: #18cfab;;
}

.load-more-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 100px;
    cursor: pointer;
}
.plus{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
}
.load-more-txt{
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}




