body {
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;

}

.header {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------NAV----------------*/
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;


}

.navbar-logo {
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;


}

.logo {
    display: flex;
    align-items: center;

}

.hexagon {
    background-color: #18cfab;
    width: 58px;
    height: 67px;
    font-size: 40px;
    line-height: 67px;
    text-align: center;
    color: white;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    font-weight: 900;
}

.title {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
}

.fa-search-3 {
    color: #b8b8b8;
}

.fa-search-3:hover {
    color: #18cfab;
}

.title:after {
    content: "";
    display: block;
    margin: 0 auto;
    transform: skew(70deg);
    height: 4px;
    width: 76px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    margin-top: 37px;
    margin-bottom: 70px;
}

.title-name {
    margin-left: 8px;
    font-weight: 900;
}

.navbar-logo-text-p1 {
    font-weight: lighter;
    font-size: 25px;
}

.navbar-logo-text-p2 {
    color: #18cfab;
    font-size: 32px;
    font-weight: bold;
}

.navbar-nav-item {
    display: inline;
    color: #b8b8b8;
    font-weight: 700;
    font-size: 13px;


}

.navbar-nav-item-last {
    display: inline;
    color: #b8b8b8;
    font-weight: 700;
    font-size: 13px;


}

.navbar-nav-item-last:hover .fa-search-3 {
    color: #18cfab;
}

.navbar-nav-item:hover {
    border-bottom: 1px solid #18cfab;
    color: #18cfab;

}

.navbar-nav-item-last:hover {
    border-bottom: 1px solid #18cfab;
    color: #18cfab;

}

.navbar-nav-item:hover .a-li {
    color: #18cfab;
}

.navbar-right-col {
    width: 683px;
    line-height: 120px;

}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-li {
    text-decoration: none;
    color: #b8b8b8;


}

.fas {
    font-family: Font Awesome\ 5 Free;
    color: #b8b8b8;
    font-size: 22px;
}

.fas::before {
    content: "\f002";
}

/*--------------------HEADER----------------*/

.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 246px;
}

.box-title {
    font-weight: 700;
    text-align: center;
    padding-top: 246px;
    padding-bottom: 244px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 45px;
}

.color {
    color: #18cfab;
}

.header-title-2 {
    font-size: 79px;
    color: #ffffff;
    margin-bottom: 37px;
}

.header-title-3 {
    font-size: 34px;
    font-weight: 300;
    text-transform: capitalize;
    color: #d4d4d4;
    margin-bottom: 142px;

}

.buttons {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    width: 360px;
}

.btn {
    background-color: #18cfab;
    width: 166px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top: 5px solid #ffffff;

}

.btn:hover {
    background-color: #00cbf6;
}


.btn-1-href {
    text-decoration: none;
    color: #ffffff;
}

.btn-2-href {
    text-decoration: none;
    color: #ffffff;
}

/*---------SECTION2----------------*/

.second-block {
    display: flex;


}

.second-block .block:nth-child(even) {
    background-color: #18cfab;
    border-top: 5px solid #ffffff;
    color: #ffffff;
}

.block {
    width: 25%;
    height: 369px;
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.block-txt {
    text-transform: uppercase;
    margin-top: 42px;
    font-weight: 700;
    color: #18cfab;
}


.block-txt-2 {
    text-transform: uppercase;
    margin-top: 59px;
    font-weight: 700;
    color: #ffffff;
}

.block-txt-3 {
    text-transform: uppercase;
    margin-top: 42px;
    font-weight: 700;
    color: #18cfab;
}


/*------------SERVICE---------*/

.services {
    padding: 82px 0 103px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.service-title {
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
}

.service-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    transform: skew(70deg);
    height: 4px;
    width: 76px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    margin-top: 37px;
    margin-bottom: 70px;
}

.li_btn {
    width: 192px;
    height: 73px;
    border: 0.2px solid #ebecec;
    text-align: center;
    line-height: 73px;
    background-color: #f8fcfe;
    color: #4e4e4e;
    cursor: pointer;
}


.tabs_caption .active {
    background-color: #18cfab;
    border: none;

}

.tabs_caption .active:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin: 0 auto;
    border-color: #18cfab transparent;
    border-style: solid;
    border-width: 13px 13px 0px 13px;
}

.tabs-content {
    display: none;
}

.tabs-content.active {
    display: flex;
    flex-direction: row;
}

.active-tab {
    display: block;
}

.tabs_caption {
    display: flex;
    margin-bottom: 24px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.service-content {
    display: flex;

}

.service-content p {
    text-align: justify;
    font-size: 17px;
    color: #777777;
}

.service-content img {
    margin-right: 20px;
    width: 194px;
    height: 139px;

}

/*-----------PURCHASE(3 SECTION)------------------*/

.purchase {
    display: flex;
    padding-top: 238px;
    padding-bottom: 238px;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Sections background/section-2.jpg") no-repeat fixed;
    background-size: cover;

}

.txt-box-purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.txt-purchase-1 {
    font-size: 41px;
    color: #18cfab;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: justify;

}

.txt-purchase-2 {
    font-size: 16px;
    color: #D8D8D8D8;
    margin-bottom: 76px;
}

.btn-text-2 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}


/*----------AMAZING WORK(4 SECTION)-----------*/
.hidden-img {
    display: none;
    flex-wrap: wrap;

}


.amazing-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fcfe;
    padding-top: 100px;
}

.amazing-work-box {
    display: flex;
    justify-content: space-around;
}


.amazing-work-title {
    font-size: 36px;
    font-weight: 400;
    color: #4e4e4e;
}

.amazing-work-title::after {
    content: "";
    display: block;
    margin: 0 auto;
    transform: skew(70deg);
    height: 4px;
    width: 76px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    margin-top: 37px;
    margin-bottom: 70px;
}

.tabs_caption-2 {
    display: flex;
    max-width: 609px;
    width: 100%;
    justify-content: center;
    margin-bottom: 71px;
    background-color: #ffffff;
    color: #717171;
}

.tabs_caption-2 li:first-child {
    max-width: 77px;
}

.li-btn-2 {
    height: 58px;
    line-height: 58px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border: 0.2px solid #ebecec;
    cursor: pointer;
}

.amazing-work-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;

}

.btn-load {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    text-align: center;
    margin-bottom: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-load span {
    line-height: 65px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.item {
    position: relative;
}

.details {
    position: absolute;
    display: none;
    color: #ffffff;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-top: #18cfab 2px solid;
    max-height: 205px;
    top: 0;
    flex-direction: column;
    align-items: center;
    animation: show 1s 1;

}

@keyframes show {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.circle:hover {
    background-color: #18cfab;
}

.fa-link {
    color: #18cfab;
}

.fa-search {
    color: #18cfab;
}


.fa-search-2 {
    color: #FFFFFF;
    font-size: 15px;
}

.circle:hover .fa-link {
    color: #FFFFFF;
}

.circle:hover .fa-search {
    color: #FFFFFF;
}

.circles {
    display: flex;
    justify-content: center;
    margin-top: 46px;

}

.circle {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #ffffff;
    border: #18cfab 2px solid;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circe-icon-1 {


}

.details-txt-1 {
    margin-top: 34px;
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 700;


}

.details-txt-2 {
    color: #717171;
    margin-top: 13px;


}


.all:hover .details {
    display: flex;

}


/*------------BREAKING NEWS----------**/

.breaking-news {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 84px;

}

.breaking-news-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description {
    height: 58px;
    background-color: #f8fcfe;
    margin-bottom: 45px;
    padding-top: 14px;
    padding-left: 13px;
    border: 1px solid #ebebeb;
}

.description p {
    color: #717171;
    font-weight: bold;
    font-size: 18px;

}

.description span {
    font-weight: lighter;
    font-size: 13px;
    color: #888989;
}

.description-span-1 {
    font-weight: lighter;
    font-size: 13px;
    color: #888989;
    margin-top: 14px;
    display: inline-block;

}

.description-span-2 {
    font-weight: lighter;
    font-size: 13px;
    color: #888989;
}

.news-img {
    width: 263px;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
}

.news-img img {
    transition: 0.4s;
}

.news-box {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}

.news-box:hover .news-img img {
    transform: scale(1.1);
}

.news-box:hover .date {
    background-color: #18cfab;
}

.news-box:hover .description p {
    color: #18cfab;
}

.date {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    flex-direction: column;
    justify-content: space-around;


}

.date span {
    display: block;
    text-align: center;
    color: #ffffff;

}

/*-----------SLICK------------*/
.review-block {
    background: url("../img/Sections background/section-3.jpg") center no-repeat fixed;
    background-size: cover;

}

.slider-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 0;
    color: #fff;
}

.slider-bg .title {
    color: #fff;
}

.quote-simbol {
    color: #18cfab;
    width: 44px;
    height: 30px;
    background-image: url(../img/icons/quote.png);
    background-repeat: no-repeat;
    margin-bottom: 43px;
}

.pers-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #bbbbbb;
    text-align: center;
}

.pers-quote {
    line-height: 30px;
    margin-bottom: 43px;
}

.pers-name {
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.pers-photo {
    border-radius: 50%;
    background-color: rgba(31, 218, 181, 0.2);
    width: 163px;
    height: 163px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 27px;
    margin-bottom: 77px;
}

.pers-photo img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 3px solid #18cfab;
}

.rev-slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    position: relative;
    top: -30px;
}

.rev-slider-nav .pers-photo {
    max-width: 82px;
    max-height: 82px;
    margin: 0 30px;
    position: relative;
    transform: scale(0.8);
}

.rev-slider-nav .pers-photo img {
    max-width: 74px;
    max-height: 74px;
}

.slick-arrow {
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;;
    margin: 0 -50px;
    color: #bbbbbb;
    box-sizing: border-box;
}

.slick-arrow:hover {
    background-color: #18cfab;
    color: #fff;
    border: none;
}

.slick-next {
    position: absolute;
    top: 25%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.slick-prev {
    position: absolute;
    top: 25%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

.slick-prev:before {
    content: "\003C";
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    opacity: 1;
}

.slick-next:before {
    content: "\003E";
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    opacity: 1;
}

.slick-center {
    outline-style: none;
    transform: scale(1.2);
}


/*------------GALLERY-----------*/
.gallery {
    padding: 98px 0 82px;
    background-color: #f8fcfe;
    text-align: center;
}

.grid {
    margin-bottom: 67px;
}

.grid-item {
    margin-bottom: 17px;
    width: 370px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
}

.grid-hover {
    position: absolute;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.grid-hover a {
    width: 30px;
    height: 30px;
    margin: 10px;
    line-height: 30px;
    background-color: #00cbf6;
    border-radius: 3px;
}

.grid-item:hover .grid-hover {
    opacity: 1;
}

.grid-item-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid-item-container img {
    width: 33.3%;
}

.fa-expand {
    color: #FFFFFF;
    font-size: 15px;
}


.footer-section {
    margin-bottom: 10px;
    background-color: #fff;
}

.footer {
    display: flex;
    background-color: #22353f;
    width: 100%;
    padding-top: 47px;
    padding-bottom: 47px;
    justify-content: center;
    align-items: center;
}

.rights {
    color: #717171;
    font-size: 14px;

}

.footer-name {
    color: #18cfab;
}
